/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
	font-family: 'Noto Sans TC', sans-serif;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #ffaa00;
  width: 0%;
}

p{
	font-size: 1.25rem;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav{
	position: fixed;
	top: 0;
	z-index: 2;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

#type-text{
	display:inline;
}

.typed-cursor{
	font-size: 2.25rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


.carousel-item{
	width: 450px !important;
}

.section-1{
	background-color: rgb(166, 122, 68);
	padding-top:3.125rem;
}

.section-2{
	background-color: rgb(223, 223, 223);
	padding-top:3.125rem;
}

.small-img{
	max-width: 31.25rem;
}

footer.page-footer {
  margin: 0;
}

.chip-two{
	background-color: #a67a44;
} 

.chip-one{
	background-color: #dfdfdf;
} 

.typing{
font-size: 1rem;
padding-top: 6%;
margin-bottom: 5%;
font-weight: normal;
letter-spacing: .3rem;
-webkit-animation: type 2s steps(50, end) forwards;
animation: type 2s steps(50, end) forwards;
}
.typing-item{
text-align: center;
color: black;
width:100%;
white-space:nowrap;
overflow:hidden;
}
@-webkit-keyframes type{
from { width: 0;}
}
@keyframes type{
from { width: 0;}
}